package ${package}.query;
import lombok.Data;
import java.io.Serializable;
import io.swagger.annotations.ApiModelProperty;
#if( $hasBigDecimal )
import java.math.BigDecimal;
#end
/**
 * ${classComments} 新增
 * @author $author
 * @date $date
 */
@Data
public class ${className}AddQuery implements Serializable {
#foreach($field in $fields)
    #if($field.fName != "id" && $field.fName != "serialVersionUID"
    && $field.fName != "createTime" && $field.fName != "updateTime"
    && $field.fName != "lastUpdateUserId"
    )

    @ApiModelProperty(value = "${field.fExplain}" #if($field.fName == "createUserId"),hidden=true#end)
    private ${field.fType} ${field.fName};
    #end
#end

}