package ${package}.api.impl;
#set( $client = ${lowerClassName}+"Client")
#set( $Client = ${className}+"Client")
#set( $Dto = ${className}+"DTO")
#set( $addQuery = ${className}+"AddQuery")
#set( $editQuery = ${className}+"EditQuery")
#set( $pageQuery = ${className}+"PageQuery")

import com.github.pagehelper.PageInfo;
import ${package}.provider.dto.${className}DTO;
import ${package}.provider.query.${className}AddQuery;
import ${package}.provider.query.${className}EditQuery;
import ${package}.provider.query.${className}PageQuery;
import ${package}.provider.api.${className}Service;
import com.ikongjian.commons.entity.Result;
import com.ikongjian.starter.log.annotation.SysLog;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiImplicitParam;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;

import javax.validation.Valid;

/**
 * $classComments
 * @author $author
 * @date $date
 */
@Api(tags = "${classComments}模块")
@RestController
@RequestMapping("/v1/${lowerClassName}")
public class ${className}Controller {

    private $Client $client;

    public ${className}Controller($Client $client) {
        this.$client = $client;
    }


    /**
     * 分页查询
     * @param pageQuery query
     * @return 分页数据
     */
    @GetMapping("/page")
    @SysLog("${classComments}分页查询")
    @ApiOperation(value = "${classComments}分页查询", notes = "${classComments}分页查询")
    public Result<PageInfo<$Dto>> searchPage(@Valid $pageQuery pageQuery,
                                             @RequestParam(value = "pageNum", required = false, defaultValue = "1") int pageNum,
                                             @RequestParam(value = "pageSize", required = false, defaultValue = "10") int pageSize) {
        return this.${client}.searchPage(pageQuery,pageNum,pageSize);
    }


   /**
    * 新增${classComments}
    * @param addQuery 结构体
    * @return ${classComments} result
    */
    @PostMapping
    @SysLog("${classComments}新增")
    @ApiOperation(value = "${classComments}新增", notes = "${classComments}新增")
    @ApiImplicitParam(name = "addQuery", value = "${classComments}结构体", required = true, dataTypeClass = ${addQuery}.class, paramType = "body")
    public Result<$Dto> add(@RequestBody @Valid $addQuery addQuery){
        return this.${client}.add(addQuery);
    }

    /**
    * ${classComments}查询by ID
    * @param id 主键id
    * @return result ${classComments}
    */
    @GetMapping("/{id}")
    @SysLog("${classComments}根据ID查询")
    @ApiOperation(value = "${classComments}根据ID查询", notes = "${classComments}根据ID查询")
    @ApiImplicitParam(name = "id", value = "${classComments}ID", required = true, dataTypeClass = Integer.class, paramType = "path")
    public Result<$Dto> searchDetail(@PathVariable Long id) {
        return this.${client}.searchById(id);
    }

    /**
    * ${classComments}编辑
    * @param updateQuery ${classComments}结构体
    * @return ${classComments} result
    */
    @PutMapping
    @SysLog("${classComments}编辑")
    @ApiOperation(value = "${classComments}编辑", notes = "${classComments}编辑")
    @ApiImplicitParam(name = "updateQuery", value = "${classComments}结构体", required = true, dataTypeClass = ${editQuery}.class, paramType = "body")
    public Result<$Dto> update(@RequestBody @Valid $editQuery updateQuery){
        return this.${client}.update(updateQuery);
    }
}