package ${package}.converter;
#set( $mapper = ${lowerClassName}+"Mapper")
#set( $Mapper = ${className}+"Mapper")
#set( $convertor = ${lowerClassName}+"Converter")
#set( $Convertor = ${className}+"Converter")
#set( $Dto = ${className}+"DTO")
#set( $addQuery = ${className}+"AddQuery")
#set( $editQuery = ${className}+"EditQuery")
import ${package}.model.${className};
import ${package}.provider.dto.${className}DTO;
import ${package}.provider.query.${className}AddQuery;
import ${package}.provider.query.${className}EditQuery;
import java.util.Date;
import ${package}.converter.function.Converter;

/**
 * $classComments
 * @author $author
 * @date $date
 */
public class ${className}Converter{

    public static Converter<${className},${Dto}> toDTO = model-> {
        $Dto dto = new $Dto();
    #foreach($field in $fields)
        #set($methodName = $field.fName.substring(0,1).toUpperCase() + $field.fName.substring(1))
        #if($field.fName != "serialVersionUID")
        dto.set${methodName}(model.get${methodName}());
        #end
    #end
        return dto;
    };

    public static ${className} toAddModel($addQuery addQuery) {
        ${className} model = new ${className}();
    #foreach($field in $fields)
        #set($methodName = $field.fName.substring(0,1).toUpperCase() + $field.fName.substring(1))
        #if($field.fName !="id" && $field.fName != "createTime" && $field.fName != "createUserId"
        && $field.fName != "lastUpdateUserId" && $field.fName != "updateTime" && $field.fName != "serialVersionUID")
        model.set${methodName}(addQuery.get${methodName}());
        #end
    #end
        return model;
    }

    public static ${className} toEditModel($editQuery editQuery) {
        ${className} model = new ${className}();
    #foreach($field in $fields)
        #set($methodName = $field.fName.substring(0,1).toUpperCase() + $field.fName.substring(1))
        #if($field.fName != "createTime" && $field.fName != "createUserId"
        && $field.fName != "lastUpdateUserId" && $field.fName != "updateTime" && $field.fName != "serialVersionUID")
        model.set${methodName}(editQuery.get${methodName}());
        #end
    #end
        return model;
    }

}