package ${package}.manager;

#set( $Dto = ${className}+"DTO")
#set( $addQuery = ${className}+"AddQuery")
#set( $editQuery = ${className}+"EditQuery")
#set( $pageQuery = ${className}+"PageQuery")
#set( $Bo = ${className}+"BO")
import com.github.pagehelper.PageInfo;
import ${package}.model.${className};
import ${package}.bo.${Bo};

/**
 * $classComments
 * @author $author
 * @date $date
 */
public interface ${className}Manager {
    /**
     * 分页查询
     * @param bo bo
     * @param pageNum 页码
     * @param pageSize 每页显示数量
     * @return page信息
     */
    PageInfo<${className}> searchPage($Bo bo,int pageNum, int pageSize);

    /**
     * 新增
     * @param bo 新增结构体
     * @return 持久后数据
     */
    ${className} add($Bo bo);

    /**
     * 删除
     * @param id 主键id
     */
    void deleteById(Long id);

    /**
     * 修改
     * @param bo 编辑结构体
     * @return 持久后数据
     */
    ${className} update($Bo bo);

    /**
     * 查询
     * @param id 主键id
     * @return 信息
     */
    ${className} searchById(Long id);

}