package ${package}.manager;

#set( $Dto = ${className}+"DTO")
#set( $addQuery = ${className}+"AddQuery")
#set( $editQuery = ${className}+"EditQuery")
#set( $pageQuery = ${className}+"PageQuery")
import com.github.pagehelper.PageInfo;
import ${package}.model.${className};
import ${package}.provider.query.$pageQuery;

/**
 * $classComments
 * @author $author
 * @date $date
 */
public interface ${className}Manager {
    /**
     * 分页查询
     * @param pageQuery pageQuery
     * @param pageNum 页码
     * @param pageSize 每页显示数量
     * @return page信息
     */
    PageInfo<${className}> searchPage($pageQuery pageQuery,int pageNum, int pageSize);

    /**
     * 新增
     * @param model 新增结构体
     */
    ${className} add(${className} model);

    /**
     * 删除
     * @param id 主键id
     */
    void deleteById(Long id);

    /**
     * 修改
     * @param model 编辑结构体
     */
    ${className} update(${className} model);

    /**
     * 查询
     * @param id 主键id
     * @return 信息
     */
    ${className} searchById(Long id);

}